.advantage-root {
  max-width: 99%;
  height: 500px;
  background: #fafafa url(../../../assets/images/advantage-background.png)
    no-repeat;
  margin-top: 200px;
  .advantage-title {
    text-align: center;
    font-size: 26px;
    padding-top: 100px;
  }
  .advantage-introduce {
    text-align: center;
    margin-top: 30px;
    color: #666666;
    font-size: 18px;
  }
  .advantage-box{
      width: 100%;
      height: 100px;
      .advantage-paper{
          height: 220px;
          width:300px;
          margin-top: 50px;
          text-align: center;
          &:hover{
              transform: scale(1.1);
          }
          img{
              margin-top: 50px;
          }
          h3{
              margin-top: 5px;
          }
          p{
              font-size: 15px;
              margin-top: 5px;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          }
      }
  }
}
