.security-box{
    width: 100%;
    height: 7vw;
    background-color: #fafafa;
    position: relative;
    bottom: 10px;
    .security-list{
        width: 80%;
        height: 7vw;
        margin: 0 auto;
        .security-item{
            width: 30%;
            height: 7vw;
            bottom: 8px;
            display: inline-block;
            border: 1px solid rgba($color: #888, $alpha: 0.5);
            border-bottom: none;
            float:left;
            &:hover{
                background-color: white;
            }
            a{
                text-decoration: none;
                color: #000;
            }
            .securityicon{
                margin-top:20px;
                height: 60px;
            }
            .security-explain-box{
                margin-left: 150px;
                position: relative;
                bottom: 60%;
                .security-explain-title{
                font-size: 20px;
                font-weight: 500;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
            .security-explain-content{
                font-size: 12px;
                font-family: Arial, Helvetica, sans-serif;
            }
            }
            
        }

    }
    
}