*{
    padding: 0;
    margin: 0;
}
.header{
    height: 150px;
    background-color:antiquewhite;
    .companyName{
        font-family:'Courier New', Courier, monospace;
        text-align: center;
        color: white !important;
        line-height: 150px;
        max-width: 100%;
    }
}