*{
    padding: 0;
    margin: 0;
}
.header{
    max-height: 100px;
    background-color:antiquewhite;
    .companyName{
        font-family:'Courier New', Courier, monospace;
        text-align: center;
        color: white !important;
        line-height: 100px;
        max-width: 100%;
    }
}