.footer-root{
    width: 100%;
    height: 10vw;
    background-color: rgba($color: #020836, $alpha: 0.8);
    margin-top: 50px;
    .footer-a{
        width: 60%;
        height: 5vw;
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
        margin: 0 auto;
        a{
            color: white;
            text-decoration: none;
            text-align: center;
            margin-left: 8%;
            line-height: 100px;
        }
    }
    p{
        color: #b3b3b3;
        text-align: center;
        margin-top: 20px;
    }

}