.textCard{
    max-width: 100%;
    .introduceCard{
        margin-left: 10px;
        h2{
            font-family: 'Courier New', Courier, monospace;
            margin-bottom: 10px;
            text-align: center;
            font-size: 70px;
            color: #a80000;
            border-bottom: 5px solid coral;
            width: 500px;
            margin:  0 auto;
        }
        p{
            width: 50%;
            line-height: 30px;
            margin: 10px auto;
        }
    }
}